<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1057534026310-nunrv7i25a2rnlv98ov8icrv9a54i8i6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1057534026310-nunrv7i25a2rnlv98ov8icrv9a54i8i6</string>
	<key>API_KEY</key>
	<string>AIzaSyBknKHeYZ3xFIRfLrmQ1oPQ73cbHm4FndU</string>
	<key>GCM_SENDER_ID</key>
	<string>1057534026310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cdlprep.cdlPrep</string>
	<key>PROJECT_ID</key>
	<string>cdl-prep-app</string>
	<key>STORAGE_BUCKET</key>
	<string>cdl-prep-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1057534026310:ios:5236f15fdd28d9d0882047</string>
	<key>DATABASE_URL</key>
	<string>https://cdl-prep-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>